@font-face {
  font-family: "iconfont"; /* Project id 2800522 */
  src: url('iconfont.woff2?t=1634088735853') format('woff2'),
       url('iconfont.woff?t=1634088735853') format('woff'),
       url('iconfont.ttf?t=1634088735853') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sd-icon-a-1-nor3:before {
  content: "\e65b";
}

.sd-icon-a-1-nor2:before {
  content: "\e65a";
}

.sd-icon-a-1-nor1:before {
  content: "\e659";
}

.sd-icon-a-1-nor:before {
  content: "\e658";
}

.sd-icon-a-01-nor:before {
  content: "\e657";
}

.sd-icon-close1:before {
  content: "\e64f";
}

.sd-icon-error-filled1:before {
  content: "\e649";
}

.sd-icon-error1:before {
  content: "\e64e";
}

.sd-icon-expand-up02-filled1:before {
  content: "\e642";
}

.sd-icon-expand-up02:before {
  content: "\e646";
}

.sd-icon-preview1:before {
  content: "\e655";
}

.sd-icon-preview-close1:before {
  content: "\e648";
}

.sd-icon-add-filled:before {
  content: "\e637";
}

.sd-icon-add:before {
  content: "\e638";
}

.sd-icon-expand-up:before {
  content: "\e63a";
}

.sd-icon-expand-down02:before {
  content: "\e63c";
}

.sd-icon-copy:before {
  content: "\e63d";
}

.sd-icon-down:before {
  content: "\e640";
}

.sd-icon-my-board:before {
  content: "\e641";
}

.sd-icon-remind:before {
  content: "\e643";
}

.sd-icon-return:before {
  content: "\e644";
}

.sd-icon-success-filled:before {
  content: "\e645";
}

.sd-icon-folder-delete:before {
  content: "\e647";
}

.sd-icon-move:before {
  content: "\e64a";
}

.sd-icon-up:before {
  content: "\e64b";
}

.sd-icon-select:before {
  content: "\e64c";
}

.sd-icon-left:before {
  content: "\e64d";
}

.sd-icon-tree-collapsing:before {
  content: "\e650";
}

.sd-icon-tree-expand:before {
  content: "\e651";
}

.sd-icon-search:before {
  content: "\e652";
}

.sd-icon-success:before {
  content: "\e653";
}

.sd-icon-warn:before {
  content: "\e654";
}

.sd-icon-warn-filled:before {
  content: "\e656";
}

.sd-icon-collect-sel1:before {
  content: "\e623";
}

.sd-icon-collect-nor1:before {
  content: "\e625";
}

.sd-icon-normore-smal:before {
  content: "\e627";
}

.sd-icon-folderfolder-3:before {
  content: "\e62a";
}

.sd-icon-folder-newfolder-new:before {
  content: "\e62c";
}

.sd-icon-share:before {
  content: "\e624";
}

.sd-icon-right:before {
  content: "\e622";
}

.sd-icon-selfolder-sel:before {
  content: "\e61f";
}

.sd-icon-folder:before {
  content: "\e619";
}

.sd-icon-more-zhedie:before {
  content: "\e620";
}

.sd-icon-more-zhankai:before {
  content: "\e621";
}

.sd-icon-zizhutansuo:before {
  content: "\e61d";
}

.sd-icon-wodeqingdan:before {
  content: "\e61c";
}

.sd-icon-mobanguanli:before {
  content: "\e61b";
}

.sd-icon-kehuqun:before {
  content: "\e617";
}

.sd-icon-duoweitansuo:before {
  content: "\e616";
}

.sd-icon-remind-filled:before {
  content: "\e60c";
}

