@import '../mixins/mixins.scss';
@import '../mixins/utils';
@import '../../../assets/sass/theme/theme.scss';
@import '../common/var.scss';


@include b(formRadio-group) {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  font-size: 0;
}
