// Primary/Functional Color
$color-primary: #0077ff;

/* 成功提示、按钮提交
-------------------------- */
$color-success: #35ff3b;

/* 信息警告、警示、提示
-------------------------- */
$color-warning: #ff9135;

/* 错误提醒、错误反馈、删除
-------------------------- */
$color-danger: #ff9135;

/* Background Color
页面主背景色
-------------------------- */
$primary-background: #202c44;

/* 次要背景色
-------------------------- */
$secondary-background: #33425f;

/* 辅助背景颜色
-------------------------- */
$background-assist: #151f2f;

// 辅助背景颜色-N0.1
$background-assist1: #233049;

$lineColor-table: #2f3d59;

// 辅助背景色-N0.3
$Background-N0-3: #0960c7 !default;

// 辅助背景色-N0.4
$Background-N0-4: #383f4d !default;