@import './default-style.scss';

/* 默认主题 */
$linght-theme : (
  base-color: #ddd,
  border-color: #000,
  bg-color: $--color-neutral-10, // background color
  hover-color: #0b315759, // hover color
  active-color: #6bb3fd, // dom is actived color
  default-color: #e0efff, // text default color
  cont-color: #f9f9f9, // right nav background color
  // 上面是demo，下面是项目中实际用到的属性
  thumb-color: $--color-neutral-40, // 滚动条颜色
  input-bg: $--color-neutral-00, // input 背景
  text-color: $--color-neutral-60, //  文字颜色
  base-border: $--color-neutral-40, // 基础边框
  border-color-light: $--color-neutral-30,
  input-placeholder: $--color-neutral-50, // input提示
  base-bg: $--color-neutral-00,
  select-triangle: transparent, // 三角
  select-hover: $--color-neutral-10, // 下拉框hover
  select-active: $--color-neutral-20, // 下拉框选中
  border-style: 'unset', // 下拉框三角边框,
  
  // common
  primary-color: $--color-general,
  text-placeholder: $--color-neutral-50,
  text-secondary:  $--color-neutral-70,   // 正文文字。对应 T2 文字类型
  text-first: $--color-neutral-80,   // 正文 对应 T1 

  // Button
  btn-text: #0077FF, // 按钮文字
  btn-border: 1px solid  $--color-general, // 按钮边框
  btn-bg: #fff, // 按钮背景
  base-btn-border: 1px solid $--color-general, // 默认边框
  btn-border-hover: $--color-general-20, // 按钮hover
  btn-bg-hover: $--color-general-10, //按钮hover背景
  btn-active: $--color-general-50, // 按钮active
  btn-active-border: $--color-general-50, // 按钮边框active
  btn-bg-disabled: $--color-neutral-00,
  btn-border-disabled: $--color-neutral-40,
  btn-primary-text: $--color-neutral-00,
  btn-primary-border: 1px solid $--color-general,
  btn-primary-hover-bg: $--color-general-30,
  btn-primary-hover-border: $--color-general-30,
  btn-primary-disabled-bg: $--color-neutral-50,
  btn-primary-disabled-text: $--color-neutral-00,
  btn-primary-disabled-border: $--color-neutral-50,
  btn-text-type: $--color-general,
  btn-text-hover: $--color-general-30,
  btn-text-active: $--color-general-50,

  // Tabs
  tabs-text-active: $--color-neutral-80,


  // message
  border-color-lighter: $--color-general-11,
  message-background-color: $--color-general-10,
  message-info-font-color: $--color-neutral-80,

  color-success-lighter: $--color-success-10,
  border-color-success: $--color-success-11,
  message-success-font-color: $--color-success,

  color-warning-lighter: $--color-amber-10,
  border-color-warning: $--color-amber-11,
  message-warning-font-color: $--color-amber,


  color-error-lighter: $--color-danger-10,
  border-color-error: $--color-danger-11,
  message-error-font-color: $--color-danger,
    
);