@import './default-style.scss';

/* 默认主题 */
$linght-theme : (
  base-color: #ddd,
  border-color: #000,
  bg-color: $--color-neutral-10, // background color
  hover-color: #0b315759, // hover color
  active-color: #6bb3fd, // dom is actived color
  default-color: #e0efff, // text default color
  cont-color: #f9f9f9, // right nav background color
  // 上面是demo，下面是项目中实际用到的属性
  thumb-color: $--color-neutral-40, // 滚动条颜色
  input-bg: $--color-neutral-00, // input 背景
  text-color: $--color-neutral-60, //  文字颜色
  base-border: $--color-neutral-40, // 基础边框
  input-placeholder: $--color-neutral-50, // input提示
  base-bg: $--color-neutral-00,
  select-triangle: transparent, // 三角
  select-hover: $--color-neutral-10, // 下拉框hover
  select-active: $--color-neutral-20, // 下拉框选中
  border-style: 'unset' // 下拉框三角边框
);