// 浏览器兼容前缀
@mixin utils-user-select($value) {
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
}

@mixin utils-clearfix {
  $selector: &;

  @at-root {
    #{$selector}::before,
    #{$selector}::after {
      display: table;
      content: '';
    }
    #{$selector}::after {
      clear: both;
    }
  }
}

@mixin utils-vertical-center {
  $selector: &;

  @at-root {
    #{$selector}::after {
      display: inline-block;
      content: '';
      height: 100%;
      vertical-align: middle;
    }
  }
}

@mixin utils-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
  字体大小
  是否开始 字间距计算
*/
@mixin utils-fontStyle($size:16, $spacing: true) {
 @if $size==14 {
  line-height: 20px;
 }

 @else if $size==12 {
  line-height: 16px;
 }

 @else {
  line-height: #{$size + 8 }px;
 }

 font-size: #{$size}px;
 $sizeBase: 16;
 $base: 1;

 $letterSpacing: ($size - $sizeBase) * 0.125 / 2;

 @if $spacing==true {
  letter-spacing: #{$base + $letterSpacing}px;
 }
   
}