/*
* 默认element-ui样式
*/
// @import "../theme-chalk/src/common/var.scss";
// @import "./var.scss";

/* Colors
-------------------------- */
$--color-white: #fff !default;
$--color-black: #000 !default;
// primary
$--color-primary: #409EFF !default;
// $--color-primary-light: $--color-primary-light-8;
$--color-primary-lighter: mix($--color-white, $--color-primary, 95%) !default;
$--color-primary-lightest: rgba($--color-primary, 0.05) !default;

// general
$--color-general: #4E72C2 !default;
$--color-general-light-1: mix($--color-white, $--color-general, 10%) !default;
$--color-general-light-2: mix($--color-white, $--color-general, 20%) !default;
$--color-general-light-3: mix($--color-white, $--color-general, 30%) !default;
$--color-general-light-4: mix($--color-white, $--color-general, 40%) !default;
$--color-general-light-5: mix($--color-white, $--color-general, 50%) !default;
$--color-general-light-5: mix($--color-white, $--color-general, 50%) !default;
$--color-general-light-7: mix($--color-white, $--color-general, 70%) !default;
$--color-general-light-8: mix($--color-white, $--color-general, 80%) !default;
$--color-general-light-9: mix($--color-white, $--color-general, 90%) !default;
$--color-info: $--color-general;
$--color-general-lightest: mix($--color-white, $--color-general, 90%) !default;

// success
$--color-success: #45A767 !default;
$--color-success-light-1: mix($--color-white, $--color-success, 10%) !default;
$--color-success-light-2: mix($--color-white, $--color-success, 20%) !default;
$--color-success-light-3: mix($--color-white, $--color-success, 30%) !default;
$--color-success-light-4: mix($--color-white, $--color-success, 40%) !default;
$--color-success-light-5: mix($--color-white, $--color-success, 50%) !default;
$--color-success-light-5: mix($--color-white, $--color-success, 50%) !default;
$--color-success-light-7: mix($--color-white, $--color-success, 70%) !default;
$--color-success-light-8: mix($--color-white, $--color-success, 80%) !default;
$--color-success-light-9: mix($--color-white, $--color-success, 90%) !default;
$--color-success-lightest: mix($--color-white, $--color-success, 90%) !default;

// warning
$--color-warning:  #E66000 !default;
$--color-warning-light-1: mix($--color-white, $--color-warning, 10%) !default;
$--color-warning-light-2: mix($--color-white, $--color-warning, 20%) !default;
$--color-warning-light-3: mix($--color-white, $--color-warning, 30%) !default;
$--color-warning-light-4: mix($--color-white, $--color-warning, 40%) !default;
$--color-warning-light-5: mix($--color-white, $--color-warning, 50%) !default;
$--color-warning-light-5: mix($--color-white, $--color-warning, 50%) !default;
$--color-warning-light-7: mix($--color-white, $--color-warning, 70%) !default;
$--color-warning-light-8: mix($--color-white, $--color-warning, 80%) !default;
$--color-warning-light-9: mix($--color-white, $--color-warning, 90%) !default;
$--color-warning-lightest: mix($--color-white, $--color-warning, 90%) !default;

//danger
$--color-danger: #E84F4F !default;
$--color-danger-light-1: mix($--color-white, $--color-danger, 10%) !default;
$--color-danger-light-2: mix($--color-white, $--color-danger, 20%) !default;
$--color-danger-light-3: mix($--color-white, $--color-danger, 30%) !default;
$--color-danger-light-4: mix($--color-white, $--color-danger, 40%) !default;
$--color-danger-light-5: mix($--color-white, $--color-danger, 50%) !default;
$--color-danger-light-5: mix($--color-white, $--color-danger, 50%) !default;
$--color-danger-light-7: mix($--color-white, $--color-danger, 70%) !default;
$--color-danger-light-8: mix($--color-white, $--color-danger, 80%) !default;
$--color-danger-light-9: mix($--color-white, $--color-danger, 90%) !default;
$--color-danger-lightest: mix($--color-white, $--color-danger, 90%) !default;

// light
$--color-general-light: $--color-general-light-8;
// lighter
$--color-general-lighter: $--color-general-light-9;

/* Background
-------------------------- */
$--background-color-base: #F7F7F7 !default;
$--background-color-light: #F4F5F9 !default;
$--background-color-dark: #F0F1F5 !default;
$--background-color-hover: #F3F9FF !default;
$--background-color-active: $--background-color-hover;

/* Border
-------------------------- */
$--border-color-active: $--color-primary !default;
// 强行分割线
$--border-color-darker: #CCCCCC;
$--border-color-dark: #D9D9D9;
$--border-color-regular: #E8E8E8 !default;

/* Button
---------------------- */
$--button-large-font-size: 14px !default;
// $--button-large-border-radius: $--border-radius-small !default;
$--button-large-padding-vertical: 12px !default;
$--button-large-padding-horizontal: 20px !default;

$--button-general-border: $--color-general !default;
$--button-general-color: $--color-white !default;
$--button-general-fill: $--color-general !default;

/* Loading
------------------- */
$--loading-badge: '//static2.kuaizi.co/common/img/logo/logo-b.png';
$--loading-circle: './images/loading-circle.png';
$--loading-normal: './images/img-placeholder.png';
$--loading-small: './images/img-placeholder-small.png';

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";