// Primary/Functional Color
$color-primary: #0077FF;

// 成功提示、按钮提交
$color-success: #35FF3B;

// 信息警告、警示、提示
$color-warning: #FF9135;

// 错误提醒、错误反馈、删除
$color-danger: #FF9135;

/** Background Color **/
// 页面主背景色
$primary-background: #212C44;

// 次要背景色
$secondary-background: #33425F;

// 辅助背景颜色
$background-assist: #33425F;

/** Font Color **/
// 重要/主标题文字
$primary-text: #FFFFFF;

/** font family **/
$font-family : "PingFang SC", "Microsoft YaHei", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Source Han Sans", "Noto Sans CJK Sc", "Microsoft Jhenghei", sans-serif;

/** Other **/
$color-orther: #414F6F;
